<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.css">
    <link rel="icon" type="image/png" href="/base.png">
    <link rel="shortcut icon" href="../ght.png" type="image/x-icon">
    <title>Trending | GHTracker</title>
  </head>
  <body>
    <header>
    <div class="nav-container">
      <a class="logo" href="/"><span>Trending Repositories | GHTRacker</span></a>
      <a href="https://github.com/razod/githubtracker" target="_blank" class="cta">Github</a>
    </div>
  </header>
    <% Object.keys(json).forEach(repo => { %>
      <div class="dashboard" style="height:auto!important">
          <h1>
            <a href="<%= (json[repo].url); %>"><h2><%= (json[repo].author); %> / <%= (json[repo].name); %></h2></a>
          </h1>
          <p>
           <span class="forks"><i class="fas fa-code-branch"></i> <%= (json[repo].forks); %></span> | <span class="stars"><i class="fas fa-star"></i> <%= (json[repo].stars); %></span> | <span style="color:<%= (json[repo].languageColor); %>;"> <%= (json[repo].language); %></span>
          </p>
      </div>
      <% }) %>
  </div>
  <script src="https://kit.fontawesome.com/63ff00b443.js" crossorigin="anonymous"></script>
  </body>
</html>